.homepage-button {
    background-color: #00796b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .homepage-button:hover {
    background-color: #004d40;
    transform: scale(1.1);
  }
  