body {
  background-color: #f8c5c5; /* צבע רקע אחיד */
  margin: 0;
  font-family: Courier New;
  font-weight: bold;

}

.admin-dashboard {
  padding: 20px;
  background-color: transparent; /* עדכון רקע דף ניהול */
  font-family: 'Arial', sans-serif;
  font-family: Courier New;
  font-weight: bold;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* צבע רקע לבן */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: Courier New;
  font-weight: bold;
}

.admin-header h1 {
  margin: 0;
  font-size: 24px;
  color: #8a2f2f; /* צבע ראשי */
  font-family: Courier New;
  font-weight: bold;
}

.admin-header .user-email {
  margin-right: 20px;
  font-size: 16px;
  color: #8a2f2f; /* צבע ראשי */
  font-family: Courier New;
  font-weight: bold;
}

.admin-header .logout-button,
.admin-header .homepage-button {
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px; /* עיגול פינות הכפתור */
  transition: background-color 0.3s, transform 0.3s;
  font-family: Courier New;
  font-weight: bold;
}

.admin-header .logout-button:hover,
.admin-header .homepage-button:hover {
  background: linear-gradient(to right, #d32f2f, #d34848); /* צבע כפתורים בעת ריחוף */
  transform: scale(1.05);
  font-family: Courier New;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-direction: column; /* שינוי התצוגה לשורות */
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  width: 100%;
  font-family: Courier New;
  font-weight: bold;
}

.card {
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  color: #ffffff;
  border: none;
  padding: 20px; /* הגדלת הרווח הפנימי */
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px; /* עיגול פינות */
  transition: background-color 0.3s, transform 0.3s;
  width: 100%; /* רוחב מלא */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(188, 183, 183, 0.1);
  transition: transform 0.3s;
  text-decoration: none; /* הורדת קו תחתון לטקסט */
  font-family: Courier New;
  font-weight: bold;
  font-family: Courier New;
  font-weight: bold;
}

.card:hover {
  background: linear-gradient(to right, #d32f2f, #d34848); /* צבע כפתורים בעת ריחוף */
  transform: scale(1.05);
}

.card a {
  color: #ffffff;
  text-decoration: none; /* הורדת קו תחתון */
  font-size: 18px;
  text-align: center;
  display: block;
  font-family: Courier New;
  font-weight: bold;
  font-family: Courier New;
  font-weight: bold;
}

.card a:hover {
  color: #fee2e2; /* צבע משני */
  text-decoration: none; /* הורדת קו תחתון בעת ריחוף */
}




.admin-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  font-family: Courier New;
  font-weight: bold;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: Courier New;
  font-weight: bold;
}

.card {
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(to right, #8a2f2f, #e35d5b); /* גרדיאנט לכפתורים */
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px; /* עיגול פינות הכפתור */
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: Courier New;
  font-weight: bold;
}

.card:hover {
  background: linear-gradient(to right, #8a2f2f, #d34848); /* צבע כפתורים בעת ריחוף */
  transform: scale(1.05);
}

/* Updated styles for the "Change Background" section */
.background-file-update {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;

  border-radius: 5px;
  text-align: center;
  font-family: Courier New;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.background-file-update h2 {
  margin-bottom: 20px;
  color: #8a2f2f;
  font-family: Courier New;
  font-weight: bold;
}

.background-file-update input[type="file"] {
  display: none;
  font-family: Courier New;
  font-weight: bold;
}

.background-file-update label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 5px;
  background: linear-gradient(to right, #8a2f2f, #e35d5b); /* גרדיאנט לכפתורים */

  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: Courier New;
  font-weight: bold;
}

.background-file-update label:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

.background-file-update label i {
  margin-right: 8px;
}

.background-file-update button {
  padding: 10px 20px;
  background-color: #e53935;
  color: white;
  background: linear-gradient(to right, #8a2f2f, #e35d5b); /* גרדיאנט לכפתורים */

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: Courier New;
  font-weight: bold;
}

.background-file-update button:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}