.contact-form {
  background:#f8c5c5; /* עדכון הצבעים לגרדיאנט */
  padding: 40px;
  border-radius: 8px;
  
  max-width: 800px;
  margin: 20px auto;
  font-family: Courier New;
    font-weight: bold;
    margin-top: -230px;
    padding-top: 0;

}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  background: #f8c5c5; /* גרדיאנט לכפתורים */
  border-radius: 25px
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 25px
}

.form-group input,
.form-group select,
.form-group textarea {
  flex: 1 1 calc(50% - 10px);
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #f8c5c5; /* צבע משני */
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.3s, border-color 0.3s;
  border-radius: 25px
  
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"] {
  border: 2px solid #f8c5c5; /* צבע משני */
  border-radius: 25px
}

.form-group input[type="text"]:focus,
.form-group input[type="tel"]:focus,
.form-group input[type="email"]:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  border-radius: 25px
}

.form-group select:focus,
.form-group textarea:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  border-radius: 25px
  
}

.form-group textarea {
  flex: 1 1 100%;
  height: 100px;
  border-radius: 25px
  
  
}

.form-group input[type="checkbox"] {
  flex: 0 0 auto;
  margin-left: 10px;
  border-radius: 25px
  
}

.form-group label {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #333;
  border-radius: 25px
  
}

.submit-button {
  background: linear-gradient(to right, #e53935, #e35d5b);  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px; /* עיגול פינות הכפתור */
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 20px;
}

.submit-button:hover {
  background: linear-gradient(to right, #d32f2f, #d34848); /* צבע כפתורים בעת ריחוף */
  transform: scale(1.05);
}
/* יישור טקסט לימין בשדות טופס כאשר השפה היא עברית */
.rtl input[type="text"],
.rtl input[type="email"],
.rtl input[type="tel"],
.rtl textarea {
  direction: rtl;
  text-align: right;
}
