@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.App {
  font-family: 'Roboto', sans-serif;
  background-color: #fcd4d4; /* Set the background color of the rest of the page to light pink */
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  text-align: center;
}

.title-background {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/project-d56a6.appspot.com/o/images%2FStage.png?alt=media&token=b729413f-6418-4294-9d85-7fb9d805df1e');
  background-size: cover;
  background-position: center;
  height: 80vh; /* Adjust this value as needed to make the image larger */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0; /* Ensure no margin is applied */
  padding: 0; /* Ensure no padding is applied */
  margin-top: -150px;
}

.title-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3); /* White overlay with 60% opacity */
}

.title-background h1 {
  font-size: 50px;
  color: rgb(47, 15, 15); /* Change text color to black */
  margin: 0;
  z-index: 1;
  position: absolute; /* Make position absolute */
  top: 150px; /* Adjust this value to move the text higher up */
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700; /* Make the text bold */
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);    /*60% opacity white text */
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0; /* Ensure no margin is applied */
  padding: 0; /* Ensure no padding is applied */
}

.events {
  padding: 20px;
}

.events h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.event-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.event-item {
  flex: 1 1 calc(25% - 15px);
  max-width: calc(25% - 15px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  transition: transform 0.3s;
  border: 2px solid #491414; /* Dark border added */
  display: flex;
  flex-direction: column; /* Make the card a column layout */
  justify-content: space-between; /* Space out the content */
}

.event-item:hover {
  transform: scale(1.05);
}

.event-card {
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  color: #333;
  border-radius: 16px;
  flex-grow: 1; /* Allow the card to grow */
  display: flex;
  flex-direction: column; /* Column layout for the card content */
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
}

.placeholder-image {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  color: #999;
  font-size: 14px;
  border-radius: 16px;
}

.info-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.info-button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.event-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
  display: none;
  border-radius: 16px;
}

.event-details.expanded {
  display: block;
}

.loading,
.error {
  text-align: center;
  padding: 20px;
}
.gallery-container {
  padding: 20px;
  background-color: #edcccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin: 20px auto; /* Center the gallery container */
  width: 50%; /* Set the width to be narrower */
  border: 2px solid rgb(45, 17, 17); /* Add black frame */
}

.gallery-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-image {
  max-width: 100%;
  max-height: 400px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.thumbnail-container {
  display: flex;
  gap: 5px; /* Reduced gap between thumbnails */
  justify-content: center;
  flex-wrap: wrap; /* Allow thumbnails to wrap to the next line */
  max-width: 60%; /* Make the container narrower */
}

.thumbnail-image {
  width: 65px; /* Increased width */
  height: 65px; /* Increased height */
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.thumbnail-image:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail-image.active {
  border: 2px solid #333;
}
