.App {
  font-family: 'Arial', sans-serif;
}

.App {
  font-family: 'Arial', sans-serif;
}

.events {
  padding: 20px;
}

.events h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.event-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.event-item {
  flex: 1 1 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.event-item:hover {
  transform: scale(1.05);
}

.event-card {
  padding: 15px;
  text-align: center;
}

.event-image {
  width: 100%;
  height: 200px; /* Fixed height for images */
  object-fit: cover; /* Ensure the image covers the area */
  cursor: pointer;
}

.placeholder-image {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  cursor: pointer;
}

.info-button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #00796b;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.info-button:hover {
  background-color: #004d40;
  transform: scale(1.1);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
