.App {
  font-family: 'Arial', sans-serif;
}

.events {
  padding: 20px;
}

.events h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.event-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Reduced gap for smaller cards */
  justify-content: center;
}

.event-item {
  flex: 1 1 calc(25% - 15px); /* Smaller cards */
  max-width: calc(25% - 15px); /* Smaller cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  margin-bottom: 15px; /* Reduced margin for smaller cards */
  transition: transform 0.3s;
  border: 1px solid #800020; /* Burgundy border */
}

.event-item:hover {
  transform: scale(1.05);
}

.event-card {
  padding: 10px; /* Reduced padding for smaller cards */
  text-align: center;
  background-color: #800020; /* Burgundy background */
  color: #ffffff; /* White text */
}

.event-image {
  width: 100%;
  height: 150px; /* Reduced height for smaller cards */
  object-fit: cover;
}

.placeholder-image {
  width: 100%;
  height: 150px; /* Reduced height for smaller cards */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.info-button {
  margin-top: 10px;
  padding: 8px 12px; /* Smaller button */
  background-color: #ffffff; /* White button */
  color: #800020; /* Burgundy text */
  border: 1px solid #800020; /* Burgundy border */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.info-button:hover {
  background-color: #d9c3c3; /* Light burgundy on hover */
  transform: scale(1.1);
}

.event-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  display: none; /* Initially hidden */
}

.event-details.expanded {
  display: block; /* Show when expanded */
}

.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  margin: 40px auto; /* Center the gallery on the page */
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.gallery img {
  max-width: 100%;
  max-height: 300px;
  margin: 0 10px;
  border-radius: 12px; /* Rounded edges */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid #800020; /* Thin burgundy frame */
}

.gallery img:hover {
  transform: scale(1.05);
}

.arrow {
  cursor: pointer;
  font-size: 24px;
  color: #800020; /* Burgundy arrows */
  user-select: none;
  padding: 0 15px;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #d9c3c3; /* Light burgundy on hover */
}

.arrow-left {
  position: absolute;
  left: 0;
}

.arrow-right {
  position: absolute;
  right: 0;
}
