.footer {
    background-color: #d48d8d;
    color: #040303;
    padding: 20px 0;
    text-align: center;
    margin-top: 200px; /* Adjust the value as needed for the desired space */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #0a0903;
}

.footer-section p {
    margin: 0;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    color: #000000;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #000000;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #000000;
}
