.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  
}

.admin-header h1 {
  margin: 0;
  font-size: 24px;
  color: #8a2f2f;
  font-family: Courier New;
    font-weight: bold;
}

.admin-header .user-email {
  margin-right: 20px;
  font-size: 16px;
  color: #8a2f2f;
  font-family: Courier New;
    font-weight: bold;
}

.admin-header .homepage-button,
.admin-header .dashboard-button {
  background: linear-gradient(to right, #e53935, #e35d5b);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: Courier New;
    font-weight: bold;
}

.admin-header .homepage-button:hover,
.admin-header .dashboard-button:hover {
  background: linear-gradient(to right, #d32f2f, #d34848);
  transform: scale(1.05);
}

.manage-qr-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Courier New;
    font-weight: bold;
}

.manage-qr-container h1 {
  text-align: center;
  color: #8a2f2f;
  font-family: Courier New;
    font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.custom-file-upload {
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 25px; /* עיגול פינות הכפתור */
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 20px;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}

#file-upload {
  display: none;
}

.update-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
}

.update-button:hover {
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  transform: scale(1.05);
}
