.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* צבע רקע */
    padding: 10px 20px;
    position: sticky; /* שומר את הניווט בחלק העליון */
    top: 0; /* מצמיד לחלק העליון */
    width: 100%; /* רוחב מלא */
    z-index: 1000; /* שומר על העליונות על פני תוכן אחר */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* הוספת צל */
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  .donate-button, .login-button, .signup-button, .logout-button {
    background-color: #00796b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none; /* ללא קו תחתון */
  }
  
  .donate-button:hover, .login-button:hover, .signup-button:hover, .logout-button:hover {
    background-color: #004d40;
    transform: scale(1.1);
    
  }
  
  .link-button {
    text-decoration: none; /* מסיר את הקו התחתון */
    color: #333; /* צבע הכיתוב */
    font-size: 16px; /* גודל הפונט */
    transition: color 0.3s; /* אפקט מעבר לשינוי צבע */
    background: none; /* אין רקע */
    border: none; /* מסיר את הגבול */
    padding: 0; /* מסיר ריווח פנימי */
    cursor: pointer; /* הופך את הסמן לסמן כאשר המשתמש מרחף מעל */
  }
  
  .link-button:hover {
    color: #00796b;
  }

  .navbar-link{
    text-decoration: none; /* מסיר את הקו התחתון */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  