.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 15px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.left-container {
  display: flex;
  align-items: center;
}

.center-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-right: 20px; /* Increase space between categories */
}

.link-button, .navbar-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  background: none;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: color 0.3s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.link-button:hover, .navbar-link:hover {
  color: #8a2f2f;
}

.donate-button {
  background-color: #8a2f2f;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.donate-button:hover {
  background-color: #f8c5c5;
  transform: scale(1.1);
}

.right-container {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between elements */
}

.logo {
  height: auto;
  width: 80px;
  transition: transform 0.3s;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

.language-selector {
  position: relative;
  display: flex;
  align-items: center;
}

.language-button {
  background-color: transparent;
  color:  #8a2f2f; /* Black color for the language icon */
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
}

.language-button:hover {
  transform: scale(1.1);
}

.language-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.language-options button {
  display: flex;
  align-items: center; /* Align flag images and text */
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-align: left;
  color: #000;
}

.language-options button img {
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Space between the flag and text */
}

.language-options button:hover {
  background-color: #f0f0f0;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.rtl .navbar {
  justify-content: flex-end;
}

.rtl .left-container {
  order: 2;
}

.rtl .center-container {
  order: 1;
  justify-content: center;
}

.rtl .right-container {
  order: 0;
  justify-content: flex-start;
}
