.rabbi-page {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  .rabbi-header {
    text-align: center;
    padding: 50px 20px;
    background-color: #f6d9d9; /* צבע משני */
  }
  
  .rabbi-header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #8a2f2f; /* צבע ראשי */
  }
  
  .video-section {
    text-align: center;
    margin: 20px 0;
  }
  
  .video-thumbnail {
    width: 40%;
    max-width: 400px;
    height: 30%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .rabbi-content {
    text-align: center;
    margin: 20px 0;
  }
  
  .rabbi-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .rabbi-image-item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    cursor: pointer;
  }
  
  .rabbi-image-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .rabbi-lessons {
    text-align: center;
    margin: 20px 0;
  }
  
  .rabbi-lessons ul {
    list-style-type: none;
    padding: 0;
  }
  
  .rabbi-lessons li {
    margin: 10px 0;
  }
  
  .rabbi-lessons a {
    text-decoration: none;
    color: #ffffff;
    background-color: #8a2f2f; /* צבע ראשי */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .rabbi-lessons a:hover {
    background-color: #f8c5c5; /* צבע משני */
    transform: scale(1.05);
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  