/* VolunteerForm.css */

form {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background: linear-gradient(135deg, #f8c5c5, #e0f7fa); /* עדכון הצבעים לגרדיאנט */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(215, 156, 156, 0.2); /* צבע משני */
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form h2, form h3 {
  color: #8a2f2f; /* צבע ראשי */
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"], /* הוספת הגדרה לשדה מספר */
form select, /* הוספת הגדרה לשדה בחירה */
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #f8c5c5; /* צבע משני */
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: box-shadow 0.3s, border-color 0.3s;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="number"]:focus, /* הוספת הגדרה לשדה מספר */
form select:focus, /* הוספת הגדרה לשדה בחירה */
form textarea:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-color: #8a2f2f; /* צבע ראשי */
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin-right: 10px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form .group-container {
  margin-bottom: 20px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form .radio-group,
form .checkbox-group {
  margin-bottom: 20px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form .checkbox-container {
  margin-bottom: 20px;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

form button {
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px; /* עיגול פינות הכפתור */
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

form button:hover {
  background: linear-gradient(to right, #e53935, #e35d5b); /* גרדיאנט לכפתורים */
  transform: scale(1.05);
}

form .required:after {
  content: "*";
  color: red;
  margin-left: 5px;
}
