/* Popup styles */
.popup {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  max-width: 90%;
  background: white;
  border: none;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideIn 0.3s ease-in-out;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-content {
  max-height: 400px;
  overflow-y: auto;
}

.close-popup {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 3px;
  width: 30px;
  background-color: #8a2f2f;
  transition: background-color 0.3s ease;
}

.close-popup:hover {
  background-color: #f8c5c5;
}




/* Messages list styles */
.messages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.message-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.message-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.accept-button {
  display: inline-block;
  cursor: pointer;
  background: linear-gradient(to right, #8a2f2f, #e35d5b); /* גרדיאנט לכפתורים */
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px; /* עיגול פינות הכפתור */
  margin-right: 10px;
  transition: background-color 0.3s, transform 0.3s;
 }

.accept-button:hover {
  background: linear-gradient(to right, #8a2f2f, #d34848); /* צבע כפתורים בעת ריחוף */
  transform: scale(1.05);
}
