/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-links, .auth-links {
  display: flex;
  gap: 15px;
}

.nav-links a, .auth-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover, .auth-links a:hover {
  text-decoration: underline;
}

.home {
  padding: 20px;
  text-align: center;
}

.home h1 {
  font-size: 2.5em;
}

.home p {
  font-size: 1.2em;
} */
/* Keyframes for rotating animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f8c5c5; /* Background color */
}

.loading-arrow {
  width: 60px; /* Adjust size as needed */
  height: 60px;
  border: 10px solid transparent; /* Increase the width of the border */
  border-top: 10px solid #8a2f2f; /* Arrow color */
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}