
/* Keyframes for rotating animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: #f8c5c5; /* Background color */
}

.loading-arrow {
  width: 60px; /* Adjust size as needed */
  height: 60px;
  border: 10px solid transparent; /* Increase the width of the border */
  border-top: 10px solid #8a2f2f; /* Arrow color */
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}